html, body {
  /* width: 100%; */
  background: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/purty_wood.png");
  height: 100%;
  display: grid;
}

#game-board {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  /* margin-top: 50px; */
  /* border: 3px solid black; */
  /* border-radius: 50%; */
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 0px;
  justify-content: center;
  align-content: center;
  
}

.lens {
  height: 200px;
  width: 200px;
  border: 15px solid #333333;
  cursor: pointer;
  z-index: 1;
  box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.85);
  box-shadow: inset -1px -1px 15px 2px rgba(0,0,0,0.55);
  /* 1px 1px 1px 1px rgba(0,0,0,0.75); */

}

.blink-lens {
  animation-name: blink ;
  animation-duration: 2s;
}

@keyframes blink {    
    0%  {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

#green {
  background-color: rgb(0, 127, 0);
  border-radius: 210px 0 0 0;
  border-bottom: 5px;
}
.liteGreen#green {
    background-color: #86f999;
}

#red {
  background-color: rgb(255, 0, 0);
  border-radius: 0 210px 0 0;
  border-bottom: 5px;
}
.liteRed#red {
    background-color: #f9868a;
}

#yellow {
  background-color: rgb(255, 255, 0);
  border-radius: 0 0 0 210px;
}
.liteYell#yellow {
    background-color: #e4e4bc;
}

#blue {
  background-color: rgb(0, 0, 255);
  border-radius: 0 0 210px 0;
}
.liteBlue#blue {
    background-color: #4360ee;
}



#game-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -24.66% 0 0 -22.66%;
  background-color: white;
  width: 226px;
  height: 226px;
  border-radius: 50%;
  border: 10px solid #333333;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3 auto);
  /* justify-content: space-evenly; */
  justify-content: stretch;
  align-content: center;
  align-items: center; 
  text-align: center;
  z-index: 2;
}

.heading {
  font-size: 4em;
  margin: auto;
  padding-bottom: 2px;
  grid-column: 1 / span 3;
  /* border: 1px solid black; */
}

sup {
  font-size: 10pt;
}

.menu-option {
  border: 5px solid #333333;
}

#brutal-indicator {
  background-color: black;
  grid-column: 3 / span 1;
  margin: 0%;
  width: 5px;
  height: 5px;  
  border-radius: 50%;
  justify-self: center;
}

#count-display {
  /* color: rgb(230, 81, 104); */
  color: #47000B;
  font-size: 1.2em;
  font-weight: bolder;
  background-color: #360009;
  width: 50px;
  height: 30px;
  line-height: 30px; 
  border-radius: 10px;
  justify-self: center;
}

#start-btn {
  background-color: #FF0000;
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  justify-self: center;
  cursor: pointer;
}

#brutal-btn {
  background-color: #FAFF00;
  width: 20px;
  height: 20px;  
  border-radius: 50%;
  justify-self: center;
  cursor: pointer;
}

.power-switch {
  width: 50%;
  margin: auto;
  padding: 5px;
  grid-column: 1 / span 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  justify-content: space-evenly;
}

#power-btn {
  /* grid-column: 2 / span 2; */
  width: 100%;
  /* align-self: auto; */
  background: linear-gradient(to right,  #1F8EE0 50%,black 50%); /* W3C */
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* .power-label {
  padding:0px 10px 0px 10px;
  text-align: right;
} */

#off-label {
text-align: right;
/* padding-right: 5px; */
}

#on-label {
text-align: center;
/* padding-left: 20px; */
}

@media (max-width: 450px) {
  #game-board {
    width: 350px;
    height: 350px;
    grid-template-columns: repeat(2, 150px);
  }
  .lens {
    width: 150px;
    height: 150px;
    border: 10px solid #333333;
  }

  #green {
    border-radius: 160px 0 0 0;
  }
  #red {
    border-radius: 0 160px 0 0;
  }
  #yellow {
    border-radius: 0 0 0 160px;
  }
  #blue {
    border-radius: 0 0 160px 0;
  }

  #game-menu {
    width: 163px;
    height: 163px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -27.33% 0 0 -24.33%;
  }

  .heading {
  font-size: 1.5em;
  margin: auto;
  padding-bottom: 1px;
  grid-column: 1 / span 3;
  /* border: 1px solid black; */
}

  sup {
    font-size: 9pt;
  }

  .menu-option {
    border: 5px solid #333333;
  }

  .menu-label, .power-label {
    font-size: 0.6em;
  }

  #brutal-indicator {
    background-color: black;
    grid-column: 3 / span 1;
    margin: 0%;
    width: 1px;
    height: 1px;  
    border-radius: 50%;
    justify-self: center;
  }

  #count-display {
    font-size: 0.6em;
    width: 25px;
    height: 15px;
    line-height: 15px; 
    border-radius: 10px;
    justify-self: center;
  }

  #start-btn {
    background-color: #FF0000;
    width: 10px;
    height: 10px;  
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
  }

  #brutal-btn {
    background-color: #FAFF00;
    width: 10px;
    height: 10px;  
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
  }

  .power-switch {
    width: 50%;
    margin: auto;
    padding: 5px;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    justify-content: space-evenly;
  }

  #power-btn {
    /* grid-column: 2 / span 2; */
    width: 55%;
    /* align-self: auto; */
    background: linear-gradient(to right,  #1F8EE0 70%,black 30%); /* W3C */
    border: 5px solid black;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
  }

}